<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <img src="https://i03.fotocdn.net/s121/1390e6b4de614ff5/user_m/2768897022.jpg" height="500" width="500">
    <h1 th:text="${title}"/>
</div>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>