<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href=" https://getbootstrap.com/docs/5.0/examples/carousel/carousel.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="margin-top: -48px">
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="container marketing">
         <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Добро пожаловать!<span class="text-muted"></span></h2>
                <p class="lead">Вы находитесь на самом полезном сайте. Здесь актуальная и полезная информации от нашей компании ООО "Компо Софт"</p>
            </div>
            <div class="col-md-5">
                <img src="https://www.profguide.io/images/article/a/13/tGaT9vSIDn.jpg" height="500" width="500"/>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Как начать обучение?<span class="text-muted"></span></h2>
                <p class="lead">Чтобы начать обучение, вам стоит зарегистрироваться. Вперед, знания ждут!</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://csaladbanutazunk.hu/kepek/hiperaktivitas-figyelemzavar-tevhitek-1-1.jpg" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">ваваава<span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>