<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<title>Регистрация</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container marketing">
<form action="/profile" method="post" class="needs-validation" >

<div class="row g-3">
    <div class="col-sm-6">
        <label for="name" class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" id="name" name="username" placeholder="" >
    </div>

    <div class="col-sm-6">
        <label for="pass" class="form-label">Пароль</label>
        <input type="text" class="form-control" id="pass" name="password" placeholder="" >

    </div>

    <div class="col-md-5">
        <label for="nam" class="form-label">Имя</label>
        <input type="text" class="form-control" id="nam" name="nam" placeholder="">
    </div>

    <div class="col-md-4">
        <label for="sec" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="sec"  name="sec" placeholder="" >

    </div>
    <div class="col-md-3">
        <label for="age" class="form-label">Возраст</label>
        <input type="text" class="form-control" id="age" name="age"  placeholder="" >

    </div>


    <div class="col-12">
        <label for="email" class="form-label">E-mail </label>
        <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
    </div>

    <button type="submit" class="w-100 btn btn-lg btn-primary">Регистрация</button>
</div>
</form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>