
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="text-center">
    <main style="width: 100%; max-width: 330px; padding: 15px; margin: auto" >
    <h1 class="h3 mb-3 fw-normal">Регистрация пользователя</h1>
    <form action="/registration" method="post">
        <div class="form-floating">
            <input type="text" class="form-control" id="name" name="username" placeholder="Введите имя" >
            <label for="name">Введите имя</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id = "password" name="password" placeholder="Введите пароль">
            <label for="password">Введите пароль</label>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Регистрация</button>
    </form>
    </main>
</div>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>