<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Курсы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Пользователи</h1>
    <div th:each="el : ${users}" class="alert alert-info mt-2">
        <h3 th:text="${el.username} + ' ' + ${el.email}"/>
        <a th:href="'/profile' +'/'+${el.id}" class="btn btn-primary">Перейти в профиль</a>

    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>